.hero {
    width: 100%;
    min-height: 320px;
    background-image: url("../assets/images/backgrounds/header_background3.jpeg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero__content {
    max-width: 700px;
}